In [48]:
import os
import pandas as pd
from pandas import read_csv, read_excel, DataFrame
from sae import COTSCar
import gurobipy as gp
from gurobipy import GRB
from gurobipy import quicksum as qsum
import numpy as np
from typing import List

import sys
sys.path.append('../')
import saedfsc

Price of the car.

In [49]:
maxProductPrice = 400000

Information about customers

In [50]:
customers = saedfsc.customers['Name'].to_list()
cQty = dict(zip(saedfsc.customers['Name'], saedfsc.customers['Quantity'])) # customer quantities
cPriceFocus = dict(zip(saedfsc.customers['Name'], saedfsc.customers['PriceFocus']))
name_weights_partworth_dict = saedfsc.customers.set_index('Name')['PartworthUtilityWeights'].to_dict()
name_weights_perf_dict = saedfsc.customers.set_index('Name')['PerformanceUtilityWeights'].to_dict()
cWtsPartworth = {c : np.fromstring(name_weights_partworth_dict[c].strip('[]'), sep=',') for c in name_weights_partworth_dict}
cWtsPerf = {c : np.fromstring(name_weights_perf_dict[c].strip('[]'), sep=',') for c in name_weights_perf_dict}

Methods to help compute the market share for each customer type (based on logit model).

In [51]:
def getTotalUtilityForCustomer(car : COTSCar, c : str, utilFn = 'partworth'):
    total_utility = 0
    pricePerf = (maxProductPrice - car.price) / maxProductPrice # Normalized price (0 is best, 1 is worst)
    if utilFn == 'partworth':
        product_utility = car.partworth_objectives(weights=cWtsPartworth[c])[0]
        total_utility += (1-cPriceFocus[c])*product_utility - cPriceFocus[c]*pricePerf
    elif utilFn == 'performance':
        product_utility = car.objectives(weights=cWtsPerf[c])[0]
        total_utility += (1-cPriceFocus[c])*product_utility + cPriceFocus[c]*pricePerf
    return total_utility

def getMarketShare(car : COTSCar, c : str, competitors : List[COTSCar], utilFn = 'partworth'): # based on logit model of demand
    carUtility = getTotalUtilityForCustomer(car, c, utilFn)
    totalCompetitorUtility = sum([getTotalUtilityForCustomer(competitorCar, c, utilFn) for competitorCar in competitors])
    return carUtility / (totalCompetitorUtility + carUtility)

Create a set of competitors.

In [52]:
profitMargin = 0.1
competitors = []
for i in range(3):
    competitorCar = COTSCar()
    competitorCar.price = (1+profitMargin)*competitorCar.cost()
    competitorCar.name = "Competitor Car " + str(i)
    competitors.append(competitorCar)

names = [car.name for car in competitors]
designs = [car.vector for car in competitors]
salesPrices = ['$' + format(car.price, ",.2f") for car in competitors]
costs = ['$' + format(car.cost(), ",.2f") for car in competitors]
competitorsDF = pd.DataFrame({
    'Name': names,
    'Design': designs,
    'SalesPrice': salesPrices,
    'ProductCost': costs
})
competitorsDF

,Name,Design,SalesPrice,ProductCost
0,Competitor Car 0,"[5, 7, 0, 7, 11, 1, 5, 1, 7, 2, 2, 37, 0, 2, 1...","$4,914.85","$4,468.05"
1,Competitor Car 1,"[4, 10, 9, 8, 12, 4, 3, 12, 30, 2, 48, 153, 0,...","$110,221.47","$100,201.34"
2,Competitor Car 2,"[3, 11, 4, 5, 5, 3, 3, 16, 26, 1, 13, 51, 1, 1...","$24,974.52","$22,704.11"

## Partworth Utility

Create a random car and compute market share

In [53]:
carDesignVec = [12, 7, 6, 12, 9, 1, 0, 13, 9, 1, 39, 26, 2, 1, 33, 11, 4]
product = COTSCar()
product.vector = carDesignVec
product.price = (1 + profitMargin)*product.cost()
print("OUR CAR:") 
print("Design: ", product.vector)
print("Sales price: $", format(product.price, ",.2f"))
print("Cost: $", format(product.cost(), ",.2f"))

qtys = [cQty[c] for c in customers]
utilities = [getTotalUtilityForCustomer(product, c) for c in customers]
market_shares = [getMarketShare(product, c, competitors) for c in customers]
expected_customer_demand = [getMarketShare(product, c, competitors)*cQty[c] for c in customers]

df = pd.DataFrame({
    'Name': customers,
    'Quantity': qtys,
    'Utility for our car': utilities,
    'Market share': market_shares,
    'Expected demand': expected_customer_demand
})
total_profit = product.price*df['Expected demand'].sum()
print("Total expected profit: $", format(total_profit, ",.2f"))
print("Market information for our car:")
df

OUR CAR:
Design:  [12, 7, 6, 12, 9, 1, 0, 13, 9, 1, 39, 26, 2, 1, 33, 11, 4]
Sales price: $ 9,323.97
Cost: $ 8,476.34
Total expected profit: $ 44,691,069.92
Market information for our car:

,Name,Quantity,Utility for our car,Market share,Expected demand
0,CustomerType1,469,-1.966241,0.476676,223.561197
1,CustomerType2,929,-1.014508,0.275714,256.138526
2,CustomerType3,294,-1.765798,0.381552,112.176288
3,CustomerType4,834,-1.599019,0.422365,352.252792
4,CustomerType5,733,-1.947100,0.427901,313.651345
5,CustomerType6,35,-1.586768,0.321175,11.241117
6,CustomerType7,239,-1.798625,0.289480,69.185812
7,CustomerType8,564,-1.765243,0.376613,212.409720
8,CustomerType9,927,-1.927681,0.395932,367.028562
9,CustomerType10,366,-2.158297,0.495084,181.200671
10,CustomerType11,286,-3.734238,0.521882,149.258173
11,CustomerType12,372,-0.994663,0.271076,100.840374
12,CustomerType13,143,-1.052058,0.267491,38.251259
13,CustomerType14,660,-1.995846,0.414415,273.513625
14,CustomerType15,201,-1.043188,0.281144,56.509927
15,CustomerType16,240,-1.036314,0.274257,65.821740
16,CustomerType17,383,-2.163111,0.478415,183.232933
17,CustomerType18,799,-1.237845,0.256931,205.287628
18,CustomerType19,752,-1.990617,0.379702,285.536201
19,CustomerType20,435,-1.503545,0.355316,154.562275
20,CustomerType21,540,-1.584404,0.299297,161.620232
21,CustomerType22,860,-1.558379,0.316975,272.598920
22,CustomerType23,874,-1.802653,0.356994,312.012997
23,CustomerType24,561,-1.493139,0.322480,180.911099
24,CustomerType25,448,-3.765561,0.567711,254.334492

## Performance Utility

In [58]:
carDesignVec = [12, 7, 6, 12, 9, 1, 0, 13, 9, 1, 39, 26, 2, 1, 33, 11, 4]
product = COTSCar()
print("COTSCar vec:", product.get_vec())
print("Car vec:", product.car.get_vec())
print("Cost: $", format(product.cost(), ",.2f"))
product.set_vec(carDesignVec)
print("COTSCar vec:", product.get_vec())
print("Car vec:", product.car.get_vec())
print("Cost: $", format(product.cost(), ",.2f"))
product.price = (1 + profitMargin)*product.cost()
print("OUR CAR:") 
print("Design: ", product.vector)
print("Sales price: $", format(product.price, ",.2f"))
print("Cost: $", format(product.cost(), ",.2f"))

qtys = [cQty[c] for c in customers]
utilities = [getTotalUtilityForCustomer(product, c, 'performance') for c in customers]
market_shares = [getMarketShare(product, c, competitors, 'performance') for c in customers]
expected_customer_demand = [getMarketShare(product, c, competitors, 'performance')*cQty[c] for c in customers]

df = pd.DataFrame({
    'Name': customers,
    'Quantity': qtys,
    'Utility for our car': utilities,
    'Market share': market_shares,
    'Expected demand': expected_customer_demand
})
total_profit = product.price*df['Expected demand'].sum()
print("Total expected profit: $", format(total_profit, ",.2f"))
print("Market information for our car:")
df

COTSCar vec: [0, 0, 12, 9, 5, 4, 5, 9, 18, 0, 63, 70, 3, 2, 94, 46, 36]
Car vec: [0.3625, 0.15, 0.3926990815, 0.1125, 0.275, 1.65, 0.3926990815, 0.1125, 0.30000000000000004, 0.225, 0.3926990815, 0.894, 0.894, 0.6120817771521734, 1.8421606282386331, 1.3937518499228556, 0.007414368836192332, 0.3538183511215326, 0.3850508984033272, 5, 6, 7, 2, 7, 0, 3, 13, 20, 3, 0.5484287498156001, 0.7679158678739382, 0.17545563948117573, 0.10611775895215035, 0.2137548982186032, 0.7295061566429835, 0.24323006416003673, 0.9846194623778417, 0.2967268421009293, 0.4328799518163817]
Cost: $ 24,462.04
COTSCar vec: [0, 0, 12, 9, 5, 4, 5, 9, 18, 0, 63, 70, 3, 2, 94, 46, 36]
Car vec: [12, 7, 6, 12, 9, 1, 0, 13, 9, 1, 39, 26, 2, 1, 33, 11, 4, 0.3538183511215326, 0.3850508984033272, 5, 6, 7, 2, 7, 0, 3, 13, 20, 3, 0.5484287498156001, 0.7679158678739382, 0.17545563948117573, 0.10611775895215035, 0.2137548982186032, 0.7295061566429835, 0.24323006416003673, 0.9846194623778417, 0.2967268421009293, 0.4328799518163817]
Cost: $ 314,743,203.47
OUR CAR:
Design:  [0, 0, 12, 9, 5, 4, 5, 9, 18, 0, 63, 70, 3, 2, 94, 46, 36]
Sales price: $ 346,217,523.82
Cost: $ 314,743,203.47
Total expected profit: $ 4,513,105,909,341.10
Market information for our car:

,Name,Quantity,Utility for our car,Market share,Expected demand
0,CustomerType1,469,-1109.413198,1.005331,471.500110
1,CustomerType2,929,-741.089241,1.004015,932.729603
2,CustomerType3,294,-235.965010,1.020732,300.095214
3,CustomerType4,834,-223.733729,1.022235,852.543631
4,CustomerType5,733,-565.066516,1.007821,738.732547
5,CustomerType6,35,-694.445782,1.009928,35.347491
6,CustomerType7,239,-646.083250,1.006490,240.551060
7,CustomerType8,564,-825.828421,1.004220,566.379971
8,CustomerType9,927,-616.806829,1.008161,934.565574
9,CustomerType10,366,-48.608815,1.132121,414.356295
10,CustomerType11,286,-1762.829274,1.003834,287.096529
11,CustomerType12,372,-809.584266,1.003440,373.279805
12,CustomerType13,143,-899.075129,1.005088,143.727518
13,CustomerType14,660,-890.410965,1.005565,663.672721
14,CustomerType15,201,-871.738380,1.003118,201.626794
15,CustomerType16,240,-580.092291,1.005835,241.400395
16,CustomerType17,383,-1181.860292,1.004161,384.593848
17,CustomerType18,799,878.451091,0.990647,791.527346
18,CustomerType19,752,-409.657643,1.015253,763.470388
19,CustomerType20,435,-942.907092,1.003984,436.733185
20,CustomerType21,540,457.518345,0.988337,533.702070
21,CustomerType22,860,-1213.964745,1.004644,863.993595
22,CustomerType23,874,-754.315773,1.006932,880.058190
23,CustomerType24,561,-651.832147,1.005451,564.057758
24,CustomerType25,448,118.724518,0.936879,419.721902