In [3]:
numSuppliers = 7

import pandas as pd
import numpy as np

# Create a list of supplier names
names = ['Supplier' + str(i) for i in range(1, numSuppliers + 1)]

# Create a list of locations
locations = np.random.choice(['Location1', 'Location2', 'Location3', 'Location4'], numSuppliers)

# Create a list of ratings
ratings = np.random.uniform(low=1.0, high=5.0, size=numSuppliers)

setupCost = np.random.randint(low=1000, high=5000, size=numSuppliers)

# Create the DataFrame
df = pd.DataFrame({
    'Name': names,
    'Location': locations,
    'Rating': ratings,
    'SetUpCost': setupCost
})
df.to_csv('../resources/suppliers.csv', index=False)
df

        Name   Location    Rating  SetUpCost
0  Supplier1  Location1  1.178742       4303
1  Supplier2  Location2  2.930649       2174
2  Supplier3  Location1  4.821298       2699
3  Supplier4  Location4  2.837146       2724
4  Supplier5  Location2  3.659921       4715
5  Supplier6  Location2  1.560158       2056
6  Supplier7  Location3  1.165378       3938